body{
    background-color: rgb(61, 61, 61);
}
.hero{
    height: 200vh;
    background-image: url('/assets/img/hero.jpg');
    background-size: 100vw auto;
    background-repeat: no-repeat;
}

.container-fluid{
    padding:1rem;
    background-color: #0C0D0F;
    border: 0px solid rgb(0, 0, 0); /* outline guide for sectioning */
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}
