body{
    background-color: #000000;
}

p, h1, h5, hr{
    color: #ffffff;
}

h5{
    font-family: Cambria;
}

.nav-container{
    padding:1rem;
    background-color: #000000;
    border: 0px solid rgb(0, 0, 0); /* outline guide for sectioning */
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}

.logo{
    height: 70px;
}

.backup{
    background-color: #070707;
}

.nav-logo, .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-section{
    margin: 25vh 0 0 0;

    .content-1{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 5rem;
        padding-right: 5rem;
        border: 0px solid white;
    }
}

.form-control{
    background-color: #535357;
}

.footer-body{

        .img-logo{
            height: 10vh;
    }

    .footer-margins{
        margin: 4rem 0 0 3rem;
    }

    .fixed-size{
        height: 40px;
        width: auto;
    }
}

.test{
    border: 1px solid white;
}